<div class="container mt-1">
  <div class="row">
    <div class="col">
      <h1><i class="fa-solid fa-user-plus"></i> UpdateContact</h1>
    </div>
  </div>
</div>

<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-md-6">
      <form class="border p-3">
        <div class="mb-2">
          <input placeholder="Contact Id" type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <input placeholder="Name" type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <input placeholder="Image Url" type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <input placeholder="Email" type="email" class="form-control" />
        </div>
        <div class="mb-2">
          <input placeholder="Phone" type="tel" class="form-control" />
        </div>
        <div class="mb-2">
          <input placeholder="Company " type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <input placeholder="Title" type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <select name="" id="" class="form-control">
            <option selected hidden disabled>Choose a Group</option>
            <option value="">Family</option>
            <option value="">Friends</option>
            <option value="">Collegues</option>
            <option value="">Social</option>
          </select>
        </div>
        <div class="mb-2">
            <input value="Update" type="button" class="btn btn-success">
        <a class="btn btn-warning ms-5" routerLink="">Close</a>
          
          
        </div>
      </form>
    </div>
    <div class="col-md-6">
        <img
              class="contact_image"
              src="https://i.postimg.cc/rwrGPDTr/person-icon-512x483-d7q8hqj4.png"
              alt="contact image"
            />
    </div>
  </div>
</div>
